# Build output
/dist

# Generated types
/.astro

# Dependencies
/node_modules

# Logs
*debug.log*
*error.log*

# OS-specific files
.DS_Store
*.swp      # Vim swap files
*.swo      # Vim swap files
*~         # Temporary files

# Editor and IDE files
.vscode/
.idea/
*.iml

# Environment files
.env
.env.local
.env.*.local
