/* DashboardPage.css */

.dashboard-page {
    width: 100vw;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.dashboard-content {
    display: block;
    height: 100%;
    margin-left: 200px;  /* space left for the notification tray */
}

.google-calendar-weekly {
    width: calc(100% - 10px); /* Minor adjustment to fit inside the parent */
    overflow-y: auto;
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    border-left: 5px solid #D0ECFF;
    border-right: 5px solid #D0ECFF;
    border-bottom: 5px solid #D0ECFF;
    box-sizing: border-box;
    padding: 0 5px;
}

.week-navigation {
    grid-column: span 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D0ECFF;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0; /* Added to provide the same padding on top */
}

.week-navigation button {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.grid-container {
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr); 
    gap: 1px; 
    grid-auto-rows: 30px;
    position: relative;
    width: 100%;  /* Ensuring it takes full available width */
}
.grid-container .grid-item-day {
    text-align: center;
    grid-row: 1 / span 48;
    grid-column-start: 2; /* Adjust to start after the half-hour label column */
}

.half-hour-label {
    color: gray;
    font-size: 10px; /* Make the font tiny */
    text-align: right;
    padding-right: 5px; /* Little space to right-align within the label box */
}

.tick-line {
    position: absolute;
    left: 30px; /* Start after the label column */
    width: calc(100% - 30px); /* Take the full width minus the label column */
    height: 1px; /* Height of the line */
    background-color: gray;
    opacity: 0.5; /* Make the line greyed out */
}

.event {
    background-color: #0077CC;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.notification-tray {
    position: absolute;
    width: 200px;  /* changed width */
    height: 100%;
    background-color: #f0f0f0;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.notification-tray button {
    width: 40px;
    height: 40px;
    background-color: #0077CC;
    color: darkgray;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 7px;
    margin: 5px;  /* updated margin */
    display: inline-block;  /* Display buttons side by side */
}


.notification-tray h2 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}