.dashboard-page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* This ensures no other background interferes */
}

.dashboard-content {
    flex-grow: 1;
    display: flex;
}

.notification-tray {
    flex-basis: calc(25% - 5px);  /* Adjusted for the border */
    background-color: #f0f0f0;
    overflow-y: auto;
    border-right: 5px solid #D0ECFF;
    min-width: 260px; /* Adjusted to ensure minimum width for 4 buttons side by side */
}

.google-calendar-weekly {
    flex-grow: 1; 
    overflow-y: auto;
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    border-left: 5px solid #D0ECFF;
}

.week-navigation {
    grid-column: span 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D0ECFF;
    border-bottom: 1px solid #d0d0d0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.grid-container .grid-item-day {
    text-align: center;
}

.event {
    background-color: #0077CC;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Notification tray button styles */
.notification-tray button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px; /* Button width */
    height: 60px; /* Button height */
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notification-tray button:hover {
    background-color: rgba(0, 119, 204, 0.1);
}

.notification-tray button span {
    font-size: 8px;  /* Adjusted to ensure text fits */
    margin-top: 5px;
    text-align: center; /* Ensure text alignment */
    max-width: 60px; /* Max width to fit the button */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Ensure text doesn't wrap */
    text-overflow: ellipsis; /* Handle overflow with ellipsis */
}

.notification-tray h2 {
    text-align: center;
    margin-bottom: 10px;
}
