.entry-page {
    text-align: center;
    background-color: #b7dfec;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
  }
  
  h2 {
    color: #0b81ae;
  }
  
  .toggle-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #0b3558;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover,
  button.active {
    background-color: #065a82;
  }
  