.entry-page {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.toggle-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

