---
import Layout from '../layouts/Layout.astro';
import TestData from '../components/TestData.tsx';
import '../styles/testDataStyles.css';
---

<Layout title="Welcome to Astro.">
	<main>

		<section>
			<TestData client:load/>
		</section>

	</main>
</Layout>

<style>
</style>