/* GoogleCalendarWeekly.css */

/* Calendar container */
.google-calendar-weekly {
    display: flex;
    flex-direction: column;
    width: 100%; /* Use 100% width to fill the available space */
    max-height: 600px; /* Set a reasonable maximum height for scrollability */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    background-color: #f9f9f9;
    margin-right: 20px; /* Some space between the calendar and the other component */
}

/* Week navigation */
.week-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #426885; /* Updated background color */
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    color: #fff; /* Text color for week navigation */
}

.week-navigation button {
    background-color: #fff; /* Updated button background color */
    color: #426885; /* Updated button text color */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.week-navigation button:hover {
    background-color: #335467;
    color: #fff; /* Updated button text color on hover */
}

/* Grid for days and times */
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    grid-template-rows: repeat(24, 1fr); /* 24 rows for hours of the day */
    grid-gap: 1px; /* Adjust the gap between grid items */
    margin-top: 20px; /* Spacing between navigation and grid */
    background-color: #fff; /* Background color for the grid */
}

.grid-item {
    border: 1px solid #e0e0e0;
    text-align: center;
    color: #333; /* Text color for grid items */
    padding: 5px;
}

/* Event items */
.event {
    position: absolute;
    background-color: #426885; /* Event block background color */
    color: #fff; /* Text color for event block */
    border: 1px solid #426885; /* Event block border color */
    border-radius: 4px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* Responsive design - You can adjust this further for specific breakpoints */
@media (max-width: 1024px) {
    .google-calendar-weekly {
        width: 100%;
    }
}
