/* Navbar.css */

/* Navbar background color */
.navbar {
    background-color: #c8e5f1;
    padding: 0.25rem 0; /* Further reduce vertical padding for thinner appearance */
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    width: 100%; /* Full width */
    z-index: 999; /* Ensure it appears above other content */
    box-sizing: border-box;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* You can adjust this value based on your design */
    padding: 0 2rem;
}

/* Link/Button styles */
.navbar a {
    color: #426885;
    text-decoration: none;
    padding: 0.2rem 0.8rem; /* Further reduce padding for a sleeker look */
    font-size: 14px; /* Maintain reduced font size */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #426885;
    color: #c8e5f1;
}
.navbar a, .navbar button {
    flex-shrink: 0; /* Prevent the items from shrinking */
}
