/* App.css */
/* body {
  margin: 0;
  padding: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #D9DADF;
  overflow: hidden;
} */

/* h2 {
  color: #4A6FA5;
  text-align: center;
  margin-top: 20px;
} */

.rounded-button {
  border-radius: 16px;
}

/* button:hover {
  background-color: #7087B8;
} */

/* button.active {
  background-color: #4A6FA5;
} */

/* .navbar {
  height: 50px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
} */

/* .navbar a {
  color: #D9DADF;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
} */

/* .navbar a:hover {
  color: #7087B8;
} */

/* .navbar button {
  background-color: transparent;
  color: #ffffff;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
} */

/* .navbar button:hover {
  color: #7087B8;
  background-color: rgba(255, 255, 255, 0.1);
} */