.rdp-caption_label {
  color: black;
}

.rdp-table {
  color: black;
}

.rdp-day_selected {
  background-color: #0d6efd;
}

.rdp-day_selected:hover {
  background-color: #0d6efd;
}

.rdp-nav_button {
  color: black;
}
